/* Font */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

html {
  font-family: 'Satoshi', sans-serif;
}

/* Theme */
:root {
  --background: 210 33% 99%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 200 29% 45%;
  --primary-foreground: 0 0% 92.5%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95%;
  --muted-foreground: 240 3.8% 28.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 88%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 20.54% 5.2%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 195 95% 85%;
  --primary-foreground: 240 3.7% 15.9%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 5.9% 12%;
  --muted-foreground: 240 5% 74.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 19.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

:root {
  --un-default-border-color: hsl(var(--border) / 1);
}

html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;

  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}

/* Aside Component Styles (Remark Integration) */
.aside>.aside-container {
  --un-bg-opacity: 0.07;
}

.aside>.aside-container.aside-tip {
  --primary: 234 60% 60%;
}

.aside>.aside-container.aside-caution {
  --primary: 41 90% 50%;
}

.aside>.aside-container.aside-danger {
  --primary: 339 90% 60%;
}

.aside>.aside-container .aside-content> :first-child {
  margin-top: 0;
}

.aside>.aside-container .aside-content> :last-child {
  margin-bottom: 0;
}

.aside .icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

/* Focus Transformer */
.has-focused .line:not(.focused) {
  transition: opacity 0.35s;
}

.has-focused .line:not(.focused)>span {
  opacity: 0.4;
  filter: blur(0.095rem);
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.has-focused:hover .line:not(.focused) {
  opacity: 1;
}

.has-focused:hover .line:not(.focused)>span {
  opacity: 1;
  filter: blur(0);
}

/* Error Transformer */
.has-error .line:not(.error) {
  transition: opacity 0.35s;
}

.has-error .line:not(.error)>span {
  opacity: 0.4;
  filter: blur(0.095rem);
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.has-error:hover .line:not(.error) {
  opacity: 1;
}

.has-error:hover .line:not(.error)>span {
  opacity: 1;
  filter: blur(0);
}

.line.error {
  background-color: rgba(244, 63, 94, 0.1);
  /* Rose-500 optimized for dark/light */
  border-left: 2px solid rgb(244, 63, 94);
}

/* Warning Transformer */
.has-warning .line:not(.warning) {
  transition: opacity 0.35s;
}

.has-warning .line:not(.warning)>span {
  opacity: 0.4;
  filter: blur(0.095rem);
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.has-warning:hover .line:not(.warning) {
  opacity: 1;
}

.has-warning:hover .line:not(.warning)>span {
  opacity: 1;
  filter: blur(0);
}

.line.warning {
  background-color: rgba(234, 179, 8, 0.1);
  border-left: 2px solid rgb(234, 179, 8);
}

.line.highlighted.error {
  background-color: rgba(244, 63, 94, 0.1) !important;
  border-left: 2px solid rgb(244, 63, 94) !important;
}

.line.highlighted.warning {
  background-color: rgba(234, 179, 8, 0.1) !important;
  border-left: 2px solid rgb(234, 179, 8) !important;
}

.line.highlighted.error::before,
.line.error::before {
  background-color: transparent !important;
  color: inherit !important;
}

.line.highlighted.warning::before,
.line.warning::before {
  background-color: transparent !important;
  color: inherit !important;
}